* {
    background-color: rgb(195, 248, 245);
}

body {
    position: center;
    justify-self: center;
    margin: auto;
    display: flexbox;
    padding: 1em;
}
h1 {
    font-size: 58px;
}

.maincontent {
    margin: 18px 18px;
}
#difbuttons {
    margin: 18px 18px;
    color: sandybrown;
    font-size: 18px;

}

#secret-word {
    background-color: lightsalmon;

}

.letters {
    background-color: #f08080;
    font-size: 22px;
    margin: 10px;
    ;
}

#secret-word {
    font-size: 36px;
    letter-spacing: 10px;
}

#wrong-guesses {
    font-size: 28px;
    letter-spacing: 10px;


}
#chances-left {
    font-size: 28px;

}

#resetbtn {
    font-size: 18px;
}