* {
    background-color: rgb(72, 255, 240);
}

body {
    position: center;
    justify-self: center;
    margin: auto;
    display: flexbox;
    padding: 1em;
}

#secret-word {
    background-color: lightsalmon;

}

.letters {
    background-color: rgba(128, 255, 0, 0.562);
}

#secret-word {
    font-size: 36px;
    letter-spacing: 10px;
}